<!doctype html>
<html>
<head>
  <title>Chat Inn</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/style_room.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
  <nav>
    <div class = "dropdown">
      <button class = "settings"></button>
      <div class = "content">
        <a href="/chat">Chat</a>
        <a href="#">Link 2</a>
        <button id = "logout"></button>
      </div>
    </div>
  </nav>
  <div>
    <section class = 'conv'>
      <h2><%= convData.title %></h2>
      <p class = 'date'><%= convData.date %></p>
      <p class = 'textFull'><%= convData.text %></p>
      <img src = 'uploads/<%= convData.img %>'>
    </section>
    <div class = "comments">
      <div class = 'first'>
        <h2>Comments</h2>
        <img src="/uploads/<%= curUser.avatar %>"></img>
        <input type = "text" id = "addComment">
        <hr>
      </div>
      <div class = 'com'>
        <% for(var i = convData.comments.length-1; i >=0; i--){ %>
        <section>
          <img class = 'compic' src="/uploads/<%= infos[i].avatar %>"></img>
          <div id = "comstuff">
            <p class = 'comtitle'><%= infos[i].userName %></p>
            <p class = 'comdate'><%= convData.comments[i].date %></p>
            <p class = 'comtext'><%= convData.comments[i].text %></p>
          </div>
          <% if(curUser.id == convData.comments[i].userId){ disp = 'block'; }else{ disp = 'none'; } %>
          <button id = 'delete' type = 'button' style = "display: <%= disp %>" class = '<%= convData.comments[i].id %>'>x</button>
        </section>
        <% } %>
      <!--  <button class = 'show'>Show More</button> -->
      </div>
    </div>
  </div>
  <div class = 'footer'>
  </div>
  <script src="assets/conversationview.js"></script>
</body>
</html>
