<!doctype html>
<html>
<head>
  <title>Chat Inn</title>
  <link rel="stylesheet" type="text/css" href="/assets/style_room.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
  <nav>
    <div class = "dropdown">
      <button class = "settings"></button>
      <div class = "content">
        <a href="/chat">Chat</a>
        <a href="#">Link 2</a>
        <button id = "logout"></button>
      </div>
    </div>
  </nav>
  <div class = 'title'>
    <p>ROOMS</p>
    <hr>
  </div>
    <div id = "room_list">
      <% for(var i = 0; i < allConv.length; i++){ %>
      <section class = 'room'>
        <h2><%= allConv[i].title %></h2>
        <p class = 'date'><%= allConv[i].date %></p>
        <img src = 'uploads/<%= allConv[i].img %>'>
        <p class = 'text'><%= allConv[i].text %></p>
        <button class = "seeFull" id = '<%= allConv[i]._id %>' onClick='myFunc(this.id);'>See Full Conversation</button>
      </section>
      <% } %>
    </div>
    <div id = "add_room">
      <h2>Create Conversation</h2>
      <p>Title:</p>
      <form method="post" enctype="multipart/form-data" action = '/rooms'>
        <input id = "room_name" type="text" required>
        <textarea id = "text"></textarea>
        <input id = 'getimg' class = 'img' type="file" name="pic" accept="image/*">
        <button id = "create_room" type="button" >Submit</button>
      </form>
    </div>
    <div class = 'footer'>
    </div>
    <script src="assets/roomsview.js"></script>
  </body>
  </html>
